body{
	height: 100vh;
	width: 	auto;
	margin: auto;
    font-family: 'Spicy Rice', cursive;
    background: #fffde7;
}

h1{
	text-align: center;
	color: 	#00c853;
}

#first {
margin: 10px auto; 
width:163px; 

}

input{
   width: 179px !important;
  padding: 15px 20px !important	;
  font-size: 18px !important;
  margin: 0px auto !important;
  height: 	auto !important	;
}

.form-field{
margin: 10px auto; 
width:275px;

}

.icon1, .icon2{
	vertical-align: bottom; 
	cursor: pointer;
}
.icon1{
	color: #00c853;
}

.icon2 {
	color : #d50000;
}

ul {

	margin: 0 auto; 
width:100px;
}

li {
	color :   #00c853;
}
